// Place all the styles related to the calculator controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$background: #FAF9F7; 
$blue-accent: #03449E;
$yellow-accent: #F7C948;

body {
  background-color: $background !important;
}

.logo-img {
  width: 12%;
}

.form-box {
  margin: 5em !important;
}

#voucher {
  display: none;
}

.voucher-code {
  margin: 25px 0 !important;
}

.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

/* HEADER */

.masthead.segment {
  min-height: 200px;
  padding: 2em 0 !important;
}

.masthead .logo.item img {
  margin-right: 1em;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 3em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.3em;
  font-weight: normal;
}