<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <%= image_tag('logo.png', class: 'ui centered mini image') %>
    <div class="ui horizontal inverted small divided link list">
      <a class="item" href="https://www.linkedin.com/in/anthonyamar/">Created by Anthony Amar</a>
    </div>
  </div>
</div>