<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <%= link_to root_path do %>
      <%= image_tag('logo.png', class: 'logo-img ui centered image') %>
    <% end %>
    <h1 class="ui inverted header">
      Create your saving plan !
    </h1>
    <h2>Know how much you need to save to become a bilionaire at any age.</h2>
  </div>
</div>