<div class="ui inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <%= image_tag('logo.png', class: 'logo-img ui centered image') %>
    <h1 class="ui inverted header">
      Becoming a bilionaire
    </h1>
    <h2>Know how much you need to earn to become a bilionaire at any age.</h2>
  </div>
</div>